@font-face {
  font-family: "SSSymbolicons";
  src: url("fonts/symbolset/ss-symbolicons-block.eot", font);
  src: url("fonts/symbolset/ss-symbolicons-block.eot?#iefix", font) format("embedded-opentype"), url("fonts/symbolset/ss-symbolicons-block.woff", font) format("woff"), url("fonts/symbolset/ss-symbolicons-block.ttf", font) format("truetype"), url("fonts/symbolset/ss-symbolicons-block.svg#SSSymboliconsBlock", font) format("svg");
  font-weight: normal;
  font-style: normal; }


/*--------------------------------news-------------------------------------------*/

.news-loader {
  background: url("/assets/news_load.png");
  background-size: cover;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
.news-loader .loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
}
.news-animation {
  animation: fadeInImage;
  animation-duration: 3s;
}
.news {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url('http://a.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0903%2Fr253362_1296x729_16%2D9.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  padding: 1em;
  font-size: 4vh;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.news .news-upper {
  margin-top: 4em;
  margin-right: 24em;
  margin-left: 3em;
}
.news .news-upper .news-header-div {
  margin-bottom: 1em;
}
.news .news-upper .news-header-div-title {
  background: red;
  padding: 0 1em;
}
.news .news-upper h1 {
  font-size: 1.5em;
}
.news .news-upper .divider {
  width: 70%;
  margin-left: 0;
  margin-bottom: 2em;
}
.news .news-upper .news-author h3 {
  font-size: 0.6em;
  margin-bottom: 0.3em;
}
.news .news-upper .news-author p {
  font-size: 0.5em;
  margin-bottom: 3.5em;
}
.news .news-upper .news-description p {
  font-size: 0.8em;
  line-height: 1.4em;
}
.news .news-aside {
  position: absolute;
  right: 4em;
  bottom: 2em;
  text-align: center;
  max-width: 10em;
}
.news .news-aside .news-source {
  width: 4em;
  margin-bottom: 2em;
}
.news .news-aside .news-aside-div {
  margin-bottom: 1em;
}
.news .news-aside .news-aside-div-title {
  background: red;
  font-size: 0.8em;
  padding: 0.1em 0.8em;
}
.news .news-aside .divider-bottom {
  width: 70%;
  margin: auto;
}
.news .news-aside .news-item {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.news .news-aside .news-item h1 {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.news .news-aside .news-item p {
  font-size: 0.6em;
}


/*----------------------------------------end of news-------------------------------*/


/*---------------------start of restaurant----------------------------*/

.restaurant-loader {
  background: url("/assets/restaurant_load.png");
  background-size: cover;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
.restaurant-loader .loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
}

.restaurant {
  color: #f3f4f3;
  font-size: 4vh;
  position: relative;
  z-index: 1;
  font-family: 'Lato', sans-serifr;
}
.restaurant .restaurant-animation {
  animation: fadeInImage;
  animation-duration: 5s;
}
.restaurant .restaurant-top {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("/assets/restaurant-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  position: relative;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.restaurant .restaurant-top-float {
  background: rgba(53, 48, 38, 0.7);
  padding: .5em;
  position: absolute;
  top: 2em;
}
.restaurant .restaurant-top-float p {
  font-size: 1.1em;
}
.restaurant .restaurant-top-div {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding-left: 2em;
  padding-bottom: 1em;
}
.restaurant .restaurant-top-name h1 {
  font-size: 3em;
  font-family: 'Lobster';
  margin-bottom: .1em;
}
.restaurant .restaurant-top-location {
  padding-left: .3em;
}
.restaurant .restaurant-top-location h2 {
  font-size: .9em;
  font-weight: 300;
}
.restaurant .restaurant-bottom {
  height: 30vh;
  border-top: 0.2em solid rgba(109, 110, 109, 0.7);
}
.restaurant .restaurant-bottom-distance, .restaurant .restaurant-bottom-review, .restaurant .restaurant-bottom-rating {
  float: left;
  padding-top: 1em;
}
.restaurant .restaurant-bottom-distance {
  width: 25%;
  background-color: #e3ab3f;
  height: 100%;
  padding-top: 1em;
  padding-left: 3.5em;
}
.restaurant .restaurant-bottom-distance img {
  width: 45%;
  margin-bottom: .7em;
}
.restaurant .restaurant-bottom-distance h2 {
  font-size: 1.1em;
  margin-left: -1.5em;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.restaurant .restaurant-bottom .restaurant-background {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.restaurant .restaurant-bottom-review {
  width: 50%;
  padding-left: 2.5em;
  padding-top: 2.3em;
  padding-right: 1em;
  font-weight: 300;
  color: #686868;
}
.restaurant .restaurant-bottom-review p.category-heading {
  font-size: 1em;
  display: block;
}
.restaurant .restaurant-bottom-review p.category-text {
  font-size: 1.8em;
  display: block;
  line-height: 1.1em;
}
.restaurant .restaurant-bottom-rating {
  width: 25%;
  color: #686868;
  height: 100%;
  margin-left: -1em;
  text-align: center;
  padding-top: 1.4em;
  vertical-align: middle;
  font-size: 1.3em;
}
.restaurant .restaurant-bottom-rating h2 {
  color: #c78722;
  font-size: 1.3em;
  color: #dd952b;
}
.restaurant .restaurant-bottom-rating p#rateYo {
  color: #dd952b;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .4em;
}
.restaurant .restaurant-bottom-rating p {
  font-size: .6em;
}

.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  direction: ltr;
}

.jq-ry-container[readonly=readonly] {
  cursor: default;
}

.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


/*------------------end of restaurant-------------------*/

/*-----------------------------start of weather-----------------------*/

.weather-loader {
  background: url("/assets/weather_load.png");
  background-size: cover;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
.weather-loader .loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
}

.weather {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/assets/Cebu-City.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-size: 4vh;
  color: white;
  font-family: 'Lato', Arial, sans-serif !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.weather .head {
  padding: 4em;
  position: relative;
  text-align: right;
}
.weather .col-sm-3 {
  border-right: 1px solid white;
  display: inline-block;
  width: 25vw;
  padding: .7em .1em;
}
.weather .col-sm-3:nth-last-child(1) {
  border-right: none;
}
.weather .footer {
  position: relative;
  z-index: 99;
  width: 102%;
  bottom: 0;
  padding: .1em 0;
}
.weather #footer-container {
  border-top: .2em solid #36fc52;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.weather #footer-background {
  background: url("/assets/Cebu-City.jpg");
  filter: blur(10px);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
}
.weather .row {
  background: rgba(0, 0, 0, 0.4);
}
.weather .rotateInfinite {
  animation: rotateInfinite;
}
.weather .leftToRight {
  animation: leftToRight;
}
.weather .weather-icon {
  font-size: 6em;
  top: 0.5em;
  right: 1.9em;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 8s;
}
.weather h3 {
  display: inline-block;
  font-size: 4em;
  margin: 0;
  font-size: 3em;
}
.weather h5 {
  font-weight: 100;
  margin-top: .4em;
  display: inline-block;
  font-size: 1.2em;
  padding-left: .3em;
}
.weather .align-left {
  margin-top: 1.8em;
}
.weather .align-right {
  position: absolute;
  left: 2em;
  top: 7em;
  max-width: 40vw;
}
.weather .align-right p {
  font-family: 'Lato',arial;
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}
.weather .align-center {
  text-align: center;
}
.weather p.today {
  font-size: 3em;
}
.weather p.weather-location {
  font-size: 1.6em;
  margin-top: .3em;
  margin-bottom: .2em;
}
.weather p {
  display: block;
  font-size: 1.5em;
  text-align: right;
}
.weather h6 {
  font-weight: 100;
  font-size: 1em;
  margin-bottom: .2em;
}
.weather i {
  display: inline-block;
  font-size: 2em;
  display: inline-block;
}

/*--------------end of weather--------------*/

/*------------------------start of currency-------------------------*/

.currency {
  background: url("/assets/currency-background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
  padding: 2em;
  color: #3a3939;
  font-family: 'Roboto','Helvetica',Arial,sans-serif;
}
.currency .currency-rate {
  position: absolute;
  left: 5%;
  top: 7%;
}
.currency .currency-container {
  position: relative;
  height: 50vh;
}
.currency .header-text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: .5em;
  margin: auto;
  color: white;
}
.currency .header-current {
  position: absolute;
  left: 15%;
  top: 34%;
  color: white;
}
.currency .header-current h1 {
  font-size: 5em;
  opacity: .7;
}
.currency .header-current-center {
  top: 40%;
}
.currency .header-current-first {
  left: 5%;
}
.currency .currency-header {
  position: absolute;
  width: 100%;
  left: 30%;
  top: 1em;
}
.currency .currency-header img {
  margin-right: 1.5em;
  width: 1.5em;
}
.currency .currency-body {
  color: grey;
  text-align: center;
  padding-top: 4.3em;
}
.currency .currency-body h2 {
  font-size: 2.3em;
  margin-bottom: .2em;
}
.currency .currency-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
}
.currency .currency-footer img {
  width: 5em;
}
.currency .currency-footer-signs {
  animation: bob;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.currency .yen {
  width: 28vw;
  display: inline-block;
  height: 80vh;
  background: white;
  border-radius: .8em;
}
.currency .yen .yen-header {
  height: 30vh;
  background: url("/assets/stocks-yen-header.png");
  background-size: cover;
  position: relative;
}
.currency .yen .yen-header .yen-sign {
  position: absolute;
  bottom: .5em;
  right: 1.5em;
}
.currency .yen .yen-header .yen-sign img {
  width: 3em;
}
.currency .euro {
  position: relative;
  z-index: 5;
  margin-left: 1em;
  width: 28vw;
  display: inline-block;
  height: 80vh;
  background: white;
  border-radius: .8em;
}
.currency .euro .euro-header {
  height: 30vh;
  background: url("/assets/stocks-euro-header.png");
  background-size: cover;
  position: relative;
}
.currency .euro .euro-header .euro-sign {
  position: absolute;
  bottom: .5em;
  right: 1.5em;
}
.currency .euro .euro-header .euro-sign img {
  width: 3em;
}
.currency .usd {
  position: relative;
  top: .5em;
  width: 28vw;
  z-index: 10;
  margin-left: 1em;
  display: inline-block;
  height: 85vh;
  background: white;
  border-radius: .8em;
  box-shadow: 0.1em 0em 2em rgba(0, 0, 0, 0.5);
}
.currency .usd .usd-header {
  height: 35vh;
  background: url(/assets/stocks-usd-header.png);
  background-size: cover;
  position: relative;
}
.currency .usd .usd-header .usd-sign {
  position: absolute;
  bottom: .5em;
  right: 1.5em;
}
.currency .usd .usd-header .usd-sign img {
  width: 3em;
}

/*----------------------end of currency----------------*/

/*-------------start of twitter-------------------------------*/

.twitter {
  background: #00aeea;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Helvetica',Arial, sans-serif;
  font-size: 4vh;
  color: #3a3939;
  perspective: 1000;
}
.twitter .twitter-header {
  height: 10vh;
  position: relative;
  z-index: 10;
  color: #559eb7;
}
.twitter .twitter-header-bg {
  background: white;
  height: 10vh;
  box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.2);
}
.twitter .twitter-header img {
  position: absolute;
  left: 1.5em;
  width: 2em;
  top: .3em;
}
.twitter .twitter-header h1 {
  position: absolute;
  top: .6em;
  font-size: 1.2em;
  margin-left: 3.5em;
}
.twitter .twitter-header h2 {
  position: absolute;
  left: 15em;
  font-weight: 700;
  font-size: 1.2em;
  top: .65em;
}
.twitter .twitter-body {
  margin-top: 2em;
  padding: 0 1em 1em 1em;
  font-size: 3vh;
  font-weight: 400;
}
.twitter .twitter-body .hashtag-overlay {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 1em;
  font-weight: bold;
  font-size: 7em;
  text-align: center;
  opacity: .1;
}
.twitter .twitter-body .tweet {
  width: 50vw;
  margin: 0 auto;
  margin-top: 8em;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: .6em;
  padding: 1.5em;
  position: relative;
  z-index: 9;
}
.twitter .twitter-body .tweet .tweet-upper {
  display: block;
  margin-bottom: 1.3em;
}
.twitter .twitter-body .tweet .tweet-upper img {
  position: absolute;
  left: 1.6em;
  width: 2.2em;
}
.twitter .twitter-body .tweet .tweet-upper h3 {
  margin-left: 3.5em;
  font-size: .9em;
  margin-bottom: .2em;
}
.twitter .twitter-body .tweet .tweet-upper h4 {
  color: grey;
  margin-left: 4.5em;
  font-size: .7em;
}
.twitter .twitter-body .tweet .tweet-body {
  line-height: 1.28em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.twitter .twitter-body .tweet .tweet-body img {
  width: 100%;
}
.twitter .twitter-body .tweet .tweet-footer {
  color: grey;
  font-size: .8em;
  position: relative;
}
.twitter .twitter-body .tweet .tweet-footer .float-left {
  float: left;
  display: inline-block;
}
.twitter .twitter-body .tweet .tweet-footer .float-right {
  float: right;
}
.twitter .twitter-body .tweet .tweet-footer .float-right p {
  margin-left: 6em;
}
.twitter .twitter-body .tweet .tweet-footer span:nth-child(2) {
  margin-right: 1em;
}
.twitter .twitter-body .tweet .tweet-footer img {
  width: 1em;
}
.twitter .twitter-body .tweet-second {
  margin-top: 2em;
  opacity: .4;
}

/*-----------------end of twitter--------------------*/

/*----------------start of hugot-------------*/

.hugot {
  background: url("/assets/hugot.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 1.5em;
  font-size: 4vh;

}

.hugot-animation {
  animation: fadeInImage;
  animation-duration: 3s;
}

.hugot-title {

    position: absolute;
    z-index: 100;
    color: white;
    text-align: center;
    width: 100%;
    top: 2em;
}

    .hugot-title-text {
      font-size: 4em;
      border-radius: .2em;
      padding: .06em .9em;
      color: black;
      background: white;
      font-family: 'Lobster';
      color: #5c5c5c;
    }



.hugot-border1 {
    border: .2em solid white;
    position: absolute;
    top: 4.5em;
    left: 2.5em;
    right: 2.5em;
    bottom: 3.5em;
    z-index: 99;
}

.hugot-border2 {
    border: .2em solid white;
    position: absolute;
    top: 3.5em;
    left: 3.5em;
    right: 3.5em;
    bottom: 2.5em;
    z-index: 99;

}

.hugot .hugot-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hugot .border {
  position: absolute;
  left: 2em;
  right: 2em;
  top: 2em;
  bottom: 2em;
  border: 0.1em solid white;
  border-radius: 1em;
}
.hugot .hugot-text {
  font-size: 2em;
  color: white;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  padding: 2em 2em;
  text-align: center;
  line-height: 1.4em;
  animation-duration: 1.5s;
}


/*----------------end of hugot-----------------*/

/*--------------------start of movies------------------*/

.upcoming-movies {
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .5);
  font-family: 'Roboto';
}
.upcoming-movies .movie-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 30;
  background: url('http://image.tmdb.org/t/p/w780//tcheoA2nPATCm2vvXw2hVQoaEFD.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.5em);
  transform: scale(1.1);
}
.upcoming-movies .movie-logo {
  position: absolute;
  bottom: 1.5em;
  right: 3em;
  z-index: 40;
}
.upcoming-movies .movie-logo img {
  width: 3.5em;
}
.upcoming-movies .movie-content {
  position: relative;
  z-index: 50;
}
.upcoming-movies .movie-left {
  position: absolute;
  left: 1em;
}
.upcoming-movies .movie-left .movie-poster {
  margin-left: 2em;
}
.upcoming-movies .movie-left .movie-poster img {
  width: 15em;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, .5);
}
.upcoming-movies .movie-right {
  position: absolute;
  right: 1em;
  width: 50vw;
  padding-right: 3em;
  top: 5em;
  line-height: 1.3em;
}
.upcoming-movies .movie-right h1 {
  font-size: 1.8em;
  margin-bottom: 0.8em;
  line-height: 1em;
  padding-right: 1em;
}
.upcoming-movies .movie-right h2 {
  font-size: 0.8em;
  font-weight: 500;
}
.upcoming-movies .movie-right h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.upcoming-movies .movie-right p {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 1.8em;
}
.upcoming-movies .movie-right .fa {
  margin-right: 0.5em;
}


/*-----------------------end of movies--------------------*/

/*--------------news-portrait------------*/

.news-portrait {
  color: white;
  width: 100vw;
  height: 100vh;
  font-size: 3vh;
  padding: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.4em;
}
.news-portrait .divider {
  width: 70%;
  margin-left: 0;
  margin-bottom: 1.5em;
}
.news-portrait .news-source-div {
  position: absolute;
  z-index: 100;
  right: 2em;
  top: 2em;
}
.news-portrait .news-source-div img {
  width: 2.5em;
}
.news-portrait .news-upper {
  margin-top: 1.5em;
}
.news-portrait .news-upper .news-header-div {
  margin-bottom: 1.5em;
  margin-top: -1em;
}
.news-portrait .news-upper .news-header-div span {
  background-color: red;
  padding: 0.3em 0.7em;
  font-size: 0.9em;
}
.news-portrait .news-upper .news-headline {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .2);
  margin-bottom: 1.5em;
}
.news-portrait .news-upper .news-headline h1 {
  font-size: 1.2em;
  line-height: 1.1em;
}
.news-portrait .news-upper .news-author {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .2);
}
.news-portrait .news-upper .news-author h3 {
  font-size: 0.8em;
  width: 90%;
  word-wrap: break-word;
  line-height: 0.9em;
  margin-bottom: 0.5em;
}
.news-portrait .news-upper .news-author p {
  font-size: 0.6em;
  margin-top: -0.9em;
  margin-bottom: 1em;
}
.news-portrait .news-upper .news-description {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .2);
  margin-bottom: 2em;
}
.news-portrait .news-upper .news-description p {
  font-size: 1em;
  line-height: 1em;
}
.news-portrait .news-aside {
  text-align: right;
  position: absolute;
  right: 2em;
  width: 70%;
  bottom: 2em;
}
.news-portrait .news-aside .news-aside-div {
  margin-bottom: 0.5em;
}
.news-portrait .news-aside .news-aside-div-title {
  font-size: 0.7em;
  background: red;
  padding: 0.2em 0.6em;
}
.news-portrait .news-aside .news-item {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .2);
}
.news-portrait .news-aside .news-item h1 {
  font-size: 0.7em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 400;
}
.news-portrait .news-aside .news-item p {
  font-size: 0.6em;
  line-height: 1.5em;
}

/*-------------end of news portrait---------------*/

/*-------------start of weather-portrait---------------*/

.weather-portrait {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .3)), url('/assets/weather-sunny.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-size: 4vh;
  color: white;
  font-family: 'Lato', Arial, sans-serif !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.weather-portrait .head {
  padding: 2em 1.5em;
  position: relative;
  text-align: right;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .4);
}
.weather-portrait .col-sm-3 {
  border-right: 1px solid white;
  display: inline-block;
  width: 33.33vw;
  padding: 1em 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.weather-portrait .col-sm-3:nth-last-child(1) {
  border-right: none;
}
.weather-portrait .footer {
  position: relative;
  z-index: 99;
  width: 102%;
  bottom: 0;
  padding: 0.1em 0;
}
.weather-portrait #footer-container {
  border-top: 0.1em solid #36fc52;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.weather-portrait #footer-background {
  background: url('/assets/weather-sunny.jpg');
  filter: blur(10px);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  transform: scale(1.2);
}
.weather-portrait .row {
  background: rgba(0, 0, 0, 0.4);
}
.weather-portrait .rotateInfinite {
  animation: rotateInfinite;
}
.weather-portrait .leftToRight {
  animation: leftToRight;
}
.weather-portrait .weather-icon {
  font-size: 5em;
  top: 0.45em;
  right: 1.3em;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 8s;
}
.weather-portrait h3 {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 2em;
}
.weather-portrait h5 {
  font-weight: 100;
  margin-top: 0.4em;
  display: inline-block;
  font-size: 1em;
  padding-left: 0.3em;
}
.weather-portrait .align-left {
  margin-top: 1.8em;
}
.weather-portrait .align-right {
  position: absolute;
  left: 2em;
  top: 7em;
  max-width: 40vw;
}
.weather-portrait .align-right p {
  font-family: 'Lato', arial;
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}
.weather-portrait .align-center {
  text-align: center;
}
.weather-portrait p.today {
  font-size: 3em;
}
.weather-portrait p.weather-location {
  font-size: 0.7em;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}
.weather-portrait p {
  display: block;
  font-size: 0.9em;
  text-align: right;
}
.weather-portrait h6 {
  font-weight: 100;
  font-size: 0.7em;
  margin-bottom: 0.2em;
}
.weather-portrait i {
  display: inline-block;
  font-size: 0.8em;
  display: inline-block;
}

/*-----------------------end of weather-portrait------------------*/

/*--------------start of currency-portrait-------------*/

.currency-portrait {
  background: url('/assets/currency-background-portrait.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
  color: white;
  padding: 1em;
  font-family: 'Roboto';
  font-weight: 300;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .1);
}
.currency-portrait .currency-title {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.currency-portrait .currency-title h1 {
  font-size: 1.5em;
}
.currency-portrait .currency-footer-signs {
  animation: bob;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.currency-portrait .euro, .currency-portrait .usd, .currency-portrait .yen {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 0.5em;
  border-radius: 0.1em;
  margin-bottom: 0.4em;
}
.currency-portrait .euro .currency-top, .currency-portrait .usd .currency-top, .currency-portrait .yen .currency-top {
  margin-bottom: 0.4em;
}
.currency-portrait .euro .currency-top img, .currency-portrait .usd .currency-top img, .currency-portrait .yen .currency-top img {
  width: 0.8em;
  margin-right: 0.1em;
}
.currency-portrait .euro .currency-top span, .currency-portrait .usd .currency-top span, .currency-portrait .yen .currency-top span {
  font-size: 1em;
}
.currency-portrait .euro .currency-middle, .currency-portrait .usd .currency-middle, .currency-portrait .yen .currency-middle {
  margin-bottom: 0.4em;
}
.currency-portrait .euro .currency-middle h2, .currency-portrait .usd .currency-middle h2, .currency-portrait .yen .currency-middle h2 {
  font-size: 1.8em;
  text-align: center;
}
.currency-portrait .euro .currency-bottom, .currency-portrait .usd .currency-bottom, .currency-portrait .yen .currency-bottom {
  text-align: center;
}
.currency-portrait .euro .currency-bottom img, .currency-portrait .usd .currency-bottom img, .currency-portrait .yen .currency-bottom img {
  width: 2em;
}

/*---------------end of currency-portrait----------------*/


/*---------------start of twitter-portrait---------*/

.twitter-portrait {
  background: #00aeea;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 4vh;
  color: #3a3939;
  perspective: 1000;
}
.twitter-portrait .twitter-header {
  height: 10vh;
  position: relative;
  z-index: 10;
  color: #559eb7;
}
.twitter-portrait .twitter-header-bg {
  background: white;
  height: 10vh;
  box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, .2);
}
.twitter-portrait .twitter-header img {
  position: absolute;
  left: 1em;
  width: 2em;
  top: 0.3em;
}
.twitter-portrait .twitter-header h1 {
  position: absolute;
  top: 0.8em;
  font-size: 1em;
  margin-left: 3.5em;
}
.twitter-portrait .twitter-header h2 {
  position: absolute;
  left: 13.5em;
  font-weight: 700;
  font-size: 1.2em;
  top: 0.65em;
}
.twitter-portrait .twitter-body {
  margin-top: 2em;
  padding: 0 1em 1em 1em;
  font-size: 3vh;
  font-weight: 400;
}
.twitter-portrait .twitter-body .hashtag-overlay {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  color: white;
  font-size: 1.5em;
  top: 3.5em;
  letter-spacing: 0px;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .1);
}
.twitter-portrait .twitter-body .tweet {
  /*animation: bottomToTop 30s alternate infinite;*/
  width: 84vw;
  margin: 0 auto;
  margin-top: 5em;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  padding: 1.5em;
  position: relative;
  z-index: 9;
}
.twitter-portrait .twitter-body .tweet .tweet-upper {
  display: block;
  margin-bottom: 1.3em;
}
.twitter-portrait .twitter-body .tweet .tweet-upper img {
  position: absolute;
  left: 1.6em;
  width: 2.2em;
}
.twitter-portrait .twitter-body .tweet .tweet-upper h3 {
  margin-left: 3.5em;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}
.twitter-portrait .twitter-body .tweet .tweet-upper h4 {
  color: grey;
  margin-left: 4.5em;
  font-size: 0.7em;
}
.twitter-portrait .twitter-body .tweet .tweet-body {
  line-height: 1.28em;
  margin-bottom: 1em;
  font-size: 1.1em;
}
.twitter-portrait .twitter-body .tweet .tweet-body img {
  width: 100%;
}
.twitter-portrait .twitter-body .tweet .tweet-footer {
  color: grey;
  font-size: 0.8em;
  position: relative;
}
.twitter-portrait .twitter-body .tweet .tweet-footer .float-left {
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.twitter-portrait .twitter-body .tweet .tweet-footer .float-right {
  float: right;
  font-size: 0.7em;
}
.twitter-portrait .twitter-body .tweet .tweet-footer span:nth-child(2) {
  margin-right: 0.5em;
}
.twitter-portrait .twitter-body .tweet .tweet-footer img {
  width: 1em;
}
.twitter-portrait .twitter-body .tweet-second {
  margin-top: 2em;
  opacity: 0.4;
}


/*--------------end of twitter-portrait--------------*/

/*----------------start of movie portrait--------------------*/


.upcoming-movies-portrait {
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .5);
  font-family: 'Roboto';
}
.upcoming-movies-portrait .movie-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 30;
  background: url('/assets/weather-sun-morning.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.5em);
  transform: scale(1.1);
}
.upcoming-movies-portrait .movie-logo {
  position: relative;
  z-index: 40;
  text-align: center;
  margin-top: 0.8em;
}
.upcoming-movies-portrait .movie-logo img {
  width: 2em;
}
.upcoming-movies-portrait .movie-title {
  position: relative;
  z-index: 40;
  text-align: center;
  margin-bottom: 0.6em;
}

.upcoming-movies-portrait .movie-title h3 {
  font-weight: 400;
}
  
.upcoming-movies-portrait .movie-content {
  position: relative;
  z-index: 40;
}
.upcoming-movies-portrait .movie-left .movie-poster {
  position: relative;
  text-align: center;
}
.upcoming-movies-portrait .movie-left .movie-poster img {
  width: 7em;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, .5);
  border: 0.05em solid white;
}
.upcoming-movies-portrait .movie-right {
  text-align: center;
  margin-top: 0.5em;
  padding: 0 1.5em;
}
.upcoming-movies-portrait .movie-right .star {
  margin-left: auto;
  margin-right: auto;
}
.upcoming-movies-portrait .movie-right .movie-ratings {
  font-size: 0.8em;
  font-weight: 400;
}
.upcoming-movies-portrait .movie-right h1 {
  font-size: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1em;
  font-weight: 500;
}
.upcoming-movies-portrait .movie-right h2 {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  font-weight: 400;
}
.upcoming-movies-portrait .movie-right h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.upcoming-movies-portrait .movie-right h4 {
  text-align: left;
  font-size: 0.5em;
  margin-bottom: 1em;
}
.upcoming-movies-portrait .movie-right p {
  font-size: 0.45em;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 1.8em;
  text-align: left;
}
.upcoming-movies-portrait .movie-right .fa {
  margin-right: 0.5em;
}



/*-----------------end of movie portrait-----------------*/

/*--------------start of hugot-portrait--------------*/


.hugot-portrait {
  width: 100vw;
  height: 100vh;
  padding: 1.5em;
  font-size: 2vh;
}
.hugot-portrait .hugot-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*        background: url(/assets/images/two.jpeg);*/
  background-size: cover;
  background-position: top;
  filter: blur(0.1em);
  transform: scale(1.1);
}
.hugot-portrait .ornament-top {
  position: absolute;
  top: 5em;
  z-index: 40;
  width: 12em;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(180deg);
}
.hugot-portrait .ornament-bottom {
  position: absolute;
  bottom: 5em;
  z-index: 40;
  width: 12em;
  left: 0;
  right: 0;
  margin: auto;
}
.hugot-portrait .hugot-text-container {
  position: relative;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hugot-portrait .border {
  position: absolute;
  left: 2em;
  right: 2em;
  top: 2em;
  bottom: 2em;
  border: 0.1em solid white;
  border-radius: 1em;
}
.hugot-portrait .hugot-text {
  font-size: 2em;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  padding: 2em 1.5em;
  text-align: center;
  line-height: 1.4em;
  animation-duration: 1.5s;
}



/*----------------end of hugot-portrait---------------*/


/*--------------start of restaurant - portrait------------*/

.restaurant-loader {
  background: url("/assets/restaurant_load.png");
  background-size: cover;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
.restaurant-loader .loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2em;
}
.restaurant-portrait {
  color: #f3f4f3;
  font-size: 4vh;
  position: relative;
  z-index: 1;
}
.restaurant-portrait .restaurant-animation {
  animation: fadeInImage;
  animation-duration: 5s;
}
.restaurant-portrait .restaurant-top {
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .8)), url('/assets/restaurant-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 83vh;
  position: relative;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, .2);
}
.restaurant-portrait .restaurant-top-float {
  background: rgba(82, 29, 11, .7);
  padding: 0.4em 1.2em;
  position: absolute;
  top: 1em;
}
.restaurant-portrait .restaurant-top-float p {
  font-size: 0.7em;
}
.restaurant-portrait .restaurant-top-div {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding-left: 1em;
  padding-bottom: 1em;
}
.restaurant-portrait .restaurant-top-name h1 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  font-family: "Lobster";
  width: 80%;
}
.restaurant-portrait .restaurant-top-location {
  width: 80%;
}
.restaurant-portrait .restaurant-top-location h2 {
  font-size: 0.6em;
  font-weight: 300;
  margin-bottom: 1.1em;
}
.restaurant-portrait .restaurant-bottom {
  height: 17vh;
  border-top: 0.08em solid rgba(109, 110, 109, .7);
}
.restaurant-portrait .restaurant-bottom-distance, .restaurant-portrait .restaurant-bottom-review, .restaurant-portrait .restaurant-bottom-rating {
  float: left;
  padding-top: 1em;
}
.restaurant-portrait .restaurant-bottom-review {
  margin-left: 0.5em;
}
.restaurant-portrait .restaurant-bottom-distance {
  width: 30%;
  background-color: #e3ab3f;
  height: 100%;
}
.restaurant-portrait .restaurant-bottom-distance img {
  width: 45%;
  margin-left: 1em;
  margin-bottom: 0.2em;
}
.restaurant-portrait .restaurant-bottom-distance h2 {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, .2);
  margin-left: 1.1em;
  font-size: 0.5em;
}
.restaurant-portrait .restaurant-bottom .restaurant-background {
  background-repeat: no-repeat;
  background-size: cover;
}
.restaurant-portrait .restaurant-bottom-review {
  width: 40%;
  font-weight: 300;
  color: #686868;
}
.restaurant-portrait .restaurant-bottom-review p.category-heading {
  font-size: 0.4em;
  display: block;
  font-weight: 400;
}
.restaurant-portrait .restaurant-bottom-review p.category-text {
  font-size: 0.8em;
  display: block;
  line-height: 1.1em;
}
.restaurant-portrait .restaurant-bottom-rating {
  width: 25%;
  position: absolute;
  right: 0.1em;
  margin-right: 0.3em;
  color: #686868;
  text-align: center;
  vertical-align: middle;
}
.restaurant-portrait .restaurant-bottom-rating h2 {
  font-size: 1.2em;
  color: #dd952b;
  padding-bottom: 0.1em;
  border-bottom: 0.05em solid #dd952b;
  margin-bottom: 0.1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-weight: bold;
}
.restaurant-portrait .restaurant-bottom-rating p#rateYo {
  color: #dd952b;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.4em;
}
.restaurant-portrait .restaurant-bottom-rating p {
  font-size: 0.6em;
}
.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  direction: ltr;
}
.jq-ry-container[readonly=readonly] {
  cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/*--------------- end of restaurant ---------*/

/*start of video portrait*/

.video-template {
  width: 100vw;
  height: 100vh;
  font-size: 4vh;
}
.video-template .video-text-top, .video-template .video-text-bottom {
  background: black;
  color: white;
  height: 32.5vh;
}
.video-template .video-text-top h2, .video-template .video-text-bottom h2 {
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
.video-template .video-middle {
  background: white;
  width: 100%;
  height: 35vh !important;
  height: auto;
}
.video-template .video-middle video {
  object-fit: contain;
}


/*end of video portrait*/