<div class="weather">
  <div class="head">
    <div class="align-right">
      <i class ="line-icon weather-icon" ng-class="now_weather.icon"></i>
      <h3>{{now_weather.temp}}°C</h3>
    </div>
    <p>Today, Quezon City </p>
  </div>
  <div class="row footer">
    <div class="col-sm-3 align-center" ng-if="$index >= 1" ng-repeat="c in conditions | limitTo: 5">
      <h6>{{c.day}}</h6>
      <i class ="line-icon blue" ng-class="c.icon"></i>
      <h5>{{c.temp | number:0}}°</h5>
    </div>
  </div>
</div>
